body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}
.soundboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.sound-button {
    margin: 10px;
    padding: 20px 40px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #0000FF;
    color: white;
    border-radius: 5px;
    position: relative;
}
.add-button {
    margin: 10px;
    padding: 20px 40px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #00f7ff;
    color: white;
    border-radius: 5px;
    position: relative;
}
.button:hover {
    background-color: #0000FF;
}
.remove-btn {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}